@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ant Carousel*/
.ant-carousel .slick-dots li::after {
    background: var(
        --Linear,
        linear-gradient(90deg, #531985 0.21%, #a44a98 93.09%)
    );
}

.ant-carousel .slick-dots li,
.ant-carousel .slick-dots li button,
.ant-carousel .slick-dots li button::after,
.ant-carousel .slick-dots li.slick-active::after,
.ant-carousel .slick-dots li.slick-active {
    border-radius: 3px;
    height: 6px;
    width: 60px;
}

:where(.css-dev-only-do-not-override-36gkoj).ant-carousel
    .slick-dots
    li
    button {
    background: var(--Indigo-25, #fcf9ff);
    opacity: 1;
}

.ant-carousel .slick-dots {
    margin-bottom: 23px;
    gap: 8px;
}

.ant-carousel .slick-next,
.ant-carousel .slick-prev {
    height: 52px;
    width: 52px;
    border-radius: 6px;
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.4);
}

.ant-carousel .slick-next {
    margin-right: 36px;
}

.ant-carousel .slick-prev {
    margin-left: 36px;
}

.ant-carousel .slick-next::after,
.ant-carousel .slick-prev:after {
    position: static;
}

@media (max-width: 767px) {
    .ant-carousel .slick-next {
        margin-right: 12px;
    }

    .ant-carousel .slick-prev {
        margin-left: 12px;
    }

    .ant-carousel .slick-dots {
        margin-bottom: 12px;
        gap: 4px;
    }
}

@media (min-width: 768px) {
    .ant-drawer-left > .ant-drawer-content-wrapper {
        width: 285px;
    }
}

.ant-drawer .ant-drawer-body {
    padding: 32px 20px 20px 20px;
}

.ant-carousel .slick-dots li {
    background: var(--Indigo-25, #fcf9ff);
}

.custom-carousel .slick-slide > div {
    display: block !important;
}
.custom-carousel .slick-list {
    overflow: hidden;
}

.custom-carousel .slick-dots-bottom {
    bottom: -50px;
}

.custom-carousel .slick-track {
    overflow: hidden;
}

.ant-carousel .custom-carousel .slick-next, .custom-carousel .ant-carousel .slick-prev {
    background-color: #F9FAFC;
    color: black;
}

.ant-carousel .custom-carousel .slick-prev, .custom-carousel .ant-carousel .slick-next {
    background-color: #F9FAFC;
    color: black;
}

/* antd select */

[type='text']:focus,
input:where(:not([type])):focus,
[type='email']:focus,
[type='url']:focus,
[type='password']:focus,
[type='number']:focus,
[type='date']:focus,
[type='datetime-local']:focus,
[type='month']:focus,
[type='search']:focus,
[type='tel']:focus,
[type='time']:focus,
[type='week']:focus,
[multiple]:focus,
textarea:focus,
select:focus,
.ant-select-focused .ant-select-selector {
  --tw-ring-color: transparent !important;
  --tw-ring-shadow: none !important;
  box-shadow: none !important;
  outline: none !important;
  /* border-color: #D1D5DB !important; 保持原有边框颜色 */
}


.antd-select-custom .ant-select-selector {
    padding: 12px 20px !important;
}


.custom-input-number .ant-input-number-group-addon {
    padding: 0px;
}

.custom-input-number .ant-input-number .ant-input-number-input {
    text-align: center;
}

.custom-input-number .ant-input-number-group .ant-input-number-group-addon {
    background: white;
}

.custom-badge .ant-badge-multiple-words {
    padding: 4px !important;
    display: flex;
    align-items: center;
    justify-content: center;
}